{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block class %} sub_page {% endblock %}

{% block ListMenu %}
    <h1>Create new Categorie</h1>
    <section class="book_section layout_padding">
        <div class="col-md-6">
            <div class="container">
                <div class="heading_container">
                    <h2>Creation D'un Responsable</h2>
                </div>
            <div class="form_container">

    {{ include('categorie/_form.html.twig') }}

</div>
</div>
</div>
</section>

    <a href="{{ path('app_categorie_index') }}">back to list</a>
{% endblock %}
